body{
    background-color: rgb(220, 223, 241);
    font-size: 25px;
    margin: 50px 0px 100px 20px ;
}
img{
    height: 300px;
    width: 300px;
}
p,ol,ul{
    width: 600px;
}
h1,
h2,
h3,
.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    font-size: 25px;
    height: 30px;
    width: 120px;
    color: black;
    border: white 2px solid;
    display: block;
    background-color: rgb(52, 193, 239);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
